<div>
    <div class="bg-blue-300">
        <h3>Why Dasan</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore eligendi deleniti. Atque hic distinctio praesentium facilis modi ad nemo obcaecati, fugit velit officiis adipisci, odit ipsum ducimus quas? Ducimus.</p>
    </div>
    <div class="bg-red-300 flex justify-center items-center">
        <div class="w-60 p-2 rounded-xl">
            <img class="h-40 object-cover rounded-xl" src="https://static.vecteezy.com/system/resources/thumbnails/004/865/921/small/programmer-people-concept-use-laptop-and-programming-code-program-icon-spreading-with-modern-flat-style-free-vector.jpg" alt="">
            <div class="p-2">
                <h3>title</h3>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dolores? Nesciunt et nisi voluptas similique, inventore voluptate dignissimos quo debitis iure provident. Nostrum consectetur dolor ut dignissimos laborum consequatur nisi.</p>
            </div>
        </div>
        <div class="w-60 p-2 rounded-xl">
            <img class="h-40 object-cover rounded-xl" src="https://static.vecteezy.com/system/resources/thumbnails/004/865/921/small/programmer-people-concept-use-laptop-and-programming-code-program-icon-spreading-with-modern-flat-style-free-vector.jpg" alt="">
            <div class="p-2">
                <h3>title</h3>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dolores? Nesciunt et nisi voluptas similique, inventore voluptate dignissimos quo debitis iure provident. Nostrum consectetur dolor ut dignissimos laborum consequatur nisi.</p>
            </div>
        </div>
        <div class="w-60 p-2 rounded-xl">
            <img class="h-40 object-cover rounded-xl" src="https://static.vecteezy.com/system/resources/thumbnails/004/865/921/small/programmer-people-concept-use-laptop-and-programming-code-program-icon-spreading-with-modern-flat-style-free-vector.jpg" alt="">
            <div class="p-2">
                <h3>title</h3>
                <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dolores? Nesciunt et nisi voluptas similique, inventore voluptate dignissimos quo debitis iure provident. Nostrum consectetur dolor ut dignissimos laborum consequatur nisi.</p>
            </div>
        </div>
    </div>
</div>

