<div class="flex flex-col w-full">
    <section class="flex flex-col w-2/3 gap-2 justify-center items-start ml-44 my-8">
        <h3
          class="text-4xl font-bold text-center"
        >
          Why Dasan
        </h3>
        <p
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore eligendi deleniti. Atque hic distinctio praesentium facilis modi ad nemo obcaecati, fugit velit officiis adipisci, odit ipsum ducimus quas? Ducimus.</p>
    </section>
    <section class="flex justify-around items-center my-8">
        <div class="max-w-80 rounded overflow-hidden shadow-lg bg-[#9575CD]">
            <img class="h-40 w-full object-cover" src="https://static.vecteezy.com/system/resources/thumbnails/004/865/921/small/programmer-people-concept-use-laptop-and-programming-code-program-icon-spreading-with-modern-flat-style-free-vector.jpg" alt="imagen del servicio">
            <header class="py-2 px-6">
              <h3
                class="font-semibold text-xl"
              >
                title
              </h3>
            </header>
            <div class="px-6 py-2">
              <p class="text-sm mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dolores? Nesciunt et nisi voluptas similique, inventore voluptate dignissimos quo debitis iure provident. Nostrum consectetur dolor ut dignissimos laborum consequatur nisi.</p>
            </div>
        </div>
        <div class="max-w-80 rounded overflow-hidden shadow-lg bg-[#9575CD]">
          <img class="h-40 w-full object-cover" src="https://static.vecteezy.com/system/resources/thumbnails/004/865/921/small/programmer-people-concept-use-laptop-and-programming-code-program-icon-spreading-with-modern-flat-style-free-vector.jpg" alt="">
            <header class="py-2 px-6">
              <h3
                class="font-semibold text-xl"
              >
                title
              </h3>
            </header>
            <div class="px-6 py-2">
              <p class="text-sm mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dolores? Nesciunt et nisi voluptas similique, inventore voluptate dignissimos quo debitis iure provident. Nostrum consectetur dolor ut dignissimos laborum consequatur nisi.</p>
            </div>
      </div>
      <div class="max-w-80 rounded overflow-hidden shadow-lg bg-secondary-pink">
        <img class="h-40 w-full object-cover" src="https://static.vecteezy.com/system/resources/thumbnails/004/865/921/small/programmer-people-concept-use-laptop-and-programming-code-program-icon-spreading-with-modern-flat-style-free-vector.jpg" alt="">
          <header class="py-2 px-6">
            <h3
              class="font-semibold text-xl"
            >
              title
            </h3>
          </header>
          <div class="px-6 py-2">
            <p class="text-sm mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, dolores? Nesciunt et nisi voluptas similique, inventore voluptate dignissimos quo debitis iure provident. Nostrum consectetur dolor ut dignissimos laborum consequatur nisi.</p>
          </div>
    </div>
    </section>
</div>
