
<header
>
    <nav class="flex items-center bg-primary-purple-dark shadow-lg w-full z-10 top-0 border-b-2 border-b-primary-purple-light">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-center space-x-6">
                <div class="flex space-x-4 gap-x-7">
                    <!-- logo--->
                    <div>
                        <a href="#" class="flex items-center py-5 px-2 text-secundary-white">
                          <span class="font-bold text-lg">Dasan Code</span>
                        </a>
                    </div>
                    <!-- secciones  Nav 1-->
                    <div class="hidden md:flex items-center space-x-1">
                        <a href="#home" class="py-2 px-4 text-secundary-white hover:bg-primary-purple-light rounded transition duration-300 cursor-pointer">Home</a>
                        <a href="#" class="py-2 px-4 text-secundary-white hover:bg-primary-purple-light rounded transition duration-300 cursor-pointer">About Us</a>
                        <a href="#" class="py-2 px-4 hover:bg-primary-purple-light text-secundary-white rounded transition duration-300 cursor-pointer">Team</a>
                        <a href="#" class="py-2 px-4 hover:bg-primary-purple-light text-secundary-white rounded transition duration-300 cursor-pointer">Customers</a>
                        <a href="#" class="py-2 px-4 hover:bg-primary-purple-light text-secundary-white rounded transition duration-300 cursor-pointer">Contact</a>
                    </div>
                </div>
                <!-- Boton secciones -->
                <div class="md:hidden flex items-center cursor-pointer">
                    <button (click)="toggleMobileMenu()" class="mobile-menu-button" title="Menú">
                      <svg class="w-6 h-6 text-secundary-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                      </svg>
                    </button>
                </div>
            </div>
            <!-- Menu dinamico Nav 2-->
            <div [ngClass]="{'block': isMobileMenuOpen, 'hidden': !isMobileMenuOpen}" class="md:hidden">
                <div class="relative z-20">
                    <a href="#home" class="block py-2 px-4 hover:bg-primary-purple-light text-secundary-white rounded transition duration-300 cursor-pointer">Home</a>
                    <a href="#" class="block py-2 px-4 text-sm hover:bg-primary-purple-light text-secundary-white rounded transition duration-300 cursor-pointer">Services</a>
                    <a href="#" class="block py-2 px-4 text-sm hover:bg-primary-purple-light text-secundary-white rounded transition duration-300 cursor-pointer">About Us</a>
                </div>
            </div>
        </div>
    </nav>
</header>
