<section id="contactUs" class="flex flex-col w-full h-auto items-start justify-center">
  <h2 class="flex justify-center w-full text-5xl font-bold my-8">
    Contactanos
  </h2>
  <div class="flex w-full items-center">
    <form
    action=""
    class="flex flex-col w-1/2 items-center gap-4"
    [formGroup]="contactForm"
    (ngSubmit)="handleSubmit()"
  >
    <label
      htmlFor="fullName"
      class="flex flex-col gap-2 w-10/12"
    >
      Nombre Completo
      <input
        name="fullName"
        type="text"
        class="w-3/4 h-10 border rounded-xl px-4"
        formControlName="name"
      />
    </label>
    <label
      htmlFor="email"
      class="flex flex-col gap-2 w-10/12"
    >
      Correo electrónico
      <input
        name="email"
        type="email"
        class="w-3/4 h-10 border rounded-xl px-4"
        formControlName="email"
      />
    </label>
    <label
      htmlFor="company"
      class="flex flex-col gap-2 w-10/12"
    >
      Empresa
      <input
        name="company"
        type="text"
        class="w-3/4 h-10 border rounded-xl px-4"
        formControlName="company"
      />
    </label>
    <label
      htmlFor="services"
      class="flex flex-col gap-2 w-10/12"
    >
      ¿Qué servicios buscas?
      <input
        name="services"
        type="text"
        class="w-3/4 h-10 border rounded-xl px-4"
        formControlName="services"
      />
    </label>
    <label
      htmlFor="details"
      class="flex flex-col gap-2 w-10/12"
    >
      Mensaje
      <textarea
        name="details"
        type="text"
        class="w-3/4 border rounded-xl px-4 py-2"
        rows=5
        cols=40
        formControlName="details"
      ></textarea>
    </label>
    <button
      class='flex justify-center items-center gap-2 w-[460px] mr-[155px]
     bg-purple-600 h-10 rounded-xl text-white text-semibold'
      [disabled]="!contactForm.valid"
    >
      Enviar
    </button>
  </form>
  <img src="contactanos.jpg" alt="contactanos" class="w-auto h-[450px] rounded-lg" />
  </div>
</section>
