<div class="flex justify-center min-h-[520px]">
    <div class="flex justify-start items-end w-screen min-h-full bg-cover bg-center shadow-lg overflow-hidden" style="background-image: url('/src/assets/office_home_opc.jpg');">
        <div class="relative z-5 p-4 sm:p-8 text-white text-rigth ml-40">

           <h2 class="text-xl sm:text-2xl md:text-4xl lg:text-5xl font-bold mb-2">Build, Launch, and Scale with WebDev</h2>
           <p class="text-xs sm:text-sm md:text-base mb-4">The best web development agency for your business</p>
           <div class="flex">
               <a href="#" class="bg-purple-600 hover:bg-purple-700 text-white font-semibold py-2 px-4 rounded-lg transition duration-300">Contacto</a>
           </div>
       </div>
    </div>
</div>
